/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #33475b;

}

.container {
    width: 70vw;
    margin: auto;
}

.cta-button {
    background-color: #ff7a59;
    padding: 26px 48px;
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}

.cta-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
/* end styling general */

/* styling header */

header:after {
    content: "";
    display: table;
    clear: both;
}
.header-right {
    float: right;
    padding: 28px 0;
}
.header-left {
    float: left;
    padding: 23px 0;
}

.header-right ul {
    list-style: none;
}
.header-right li {
    display: inline-block;
}
.header-right li a{
    text-decoration: none;
    color: #33475b;
    font-weight: 500;
    font-size: 17px;
}
.arrow {
    color: #7c98b6;
    font-size: 13px;
    padding-right: 30px;
    padding-left: 10px;
}
.arrow:hover {
    cursor: pointer;
}

#pricing {
    padding-right: 25px;
}
/* end styling header */

.showcase-1 {
    background: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
    position: relative;
    box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.12);
}
.background_photo {
    background-image: url(images/background.png);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.princip-title {
    width: 40%;
    text-align: left;
    padding: 80px 0 220px 0;
    position: relative;
}
.princip-title h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.princip-title p {
    padding: 30px 0;
}
#smaller {
    font-size: 12px;
    font-weight: 500;
}

/* end styling Showcase-1 */
